
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="background_img" background="https://avatars.mds.yandex.net/get-images-cbir/9607101/CS7QyL1GymswpzfCPviB-w1679/ocr">
<div class="text-center page_index">
        <h5>CodexGoddess</h5>
        <h6>СТУДИЯ КРАСОТЫ</h6>
</div>
    <div class="index_slogan">
        <h2 class="index_slogan-item">КРАСОТА НЕ ТРЕБУЕТ ЖЕРТВ, КРАСОТА ТРЕБУЕТ ВНИМАНИЯ</h2>
        <p>Добро пожаловать в премиальную студию красоты CodexGoddess! Наша студия уже более 10 лет занимает лидирующие позиции в бьюти сфере благодаря высочайшему качеству процедур, внимательному и индивидуальному клиентскому сервису, а также безупречному естественному результату на все время носки. Мы предоставляем нашим клиентам исключительно профессиональные услуги по созданию идеального образа. Наши мастера обладают богатым опытом и знаниями, гарантируя каждому клиенту индивидуальный подход и результат высочайшего качества. Мы ждем вас в нашем уютном оазисе красоты!</p>
        <button class="index_slogan-item item_add-btn">
            <a class="nav-link text-dark" data-page="catalog" asp-area="" asp-page="/Catalog">Выбрать процедуру</a>
        </button>
        </div>
</body>